body {
  font-family: 'Open Sans', sans-serif;
  background-color: #cef4be;
}

.navbar {
  background-color: #cef4be !important;
  border-bottom: 1px solid #0000001a;
}

.main-content {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px #0000000d;
}

.hero-logo {
  max-width: 100%;
  height: auto;
  padding: 2rem 0;
}

footer {
  background-color: #ffffff;
  border-top: 1px solid #dee2e6;
}

.nav-link {
  color: #000000 !important;
  font-weight: 600;
}

.nav-link:hover {
  color: #138517 !important;
}

@media (min-width: 992px) {
    .navbar-nav .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0; /* Verhindert eine Lücke beim Drüberfahren */
    }
}

.seo-hidden { display: none; }


.toc-container {
    background-color: #f9f9f9;
    border-left: 4px solid #cef4be; /* Dein Hellgrün als Akzent */
    padding: 15px;
    margin-bottom: 30px;
    font-size: 0.95rem;
}

.toc-container h3 {
    margin-top: 0;
    font-size: 1.1rem;
    color: #333;
}

#TableOfContents ul {
    list-style: none;
    padding-left: 15px;
}

#TableOfContents li {
    margin: 5px 0;
}

#TableOfContents a {
    text-decoration: none;
    color: #0056b3;
}

#TableOfContents a:hover {
    text-decoration: underline;
}