name: Build Hugo Site

on:
  push:
    branches: [ main ]
  repository_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout website repo
        uses: actions/checkout@v3

      - name: Checkout content repo
        uses: actions/checkout@v3
        with:
          repository: jasokann/lek-nrw-content
          path: content-repo

      - name: Checkout theme repo
        uses: actions/checkout@v3
        with:
          repository: jasokann/lek-nrw-theme
          path: theme-repo

      - name: Install Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.121.1"
          extended: true

      - name: Copy content
        run: |
          rm -rf content
          cp -R content-repo/content ./content

      - name: Copy theme
        run: |
          rm -rf themes/lek-nrw-theme
          mkdir -p themes
          cp -R theme-repo ./themes/lek-nrw-theme

      - name: Build Hugo
        run: hugo --minify

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
